
.accor {
  font-family: Microsoft Himalaya;
  font-size: 1.5em;
  margin: 10px;
  border-bottom: 2px solid grey;
  transition: 0.4s; }
  .accor .head {
    padding: 10px 20px;
    cursor: pointer; }
  .accor .body {
    background: #fafafa;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: 200ms ease-in-out; }
  .accor.active > .body {
    padding: 10px 20px;
    max-height: 600px; }

    .arrow{
      position: absolute;
      right: 1em;
    }


    .accor-ul{
      margin-top: 1em;
      margin-left: 3em;
    }

    @media(min-width :1085px){  
      .arrow{
        right: 3em;
      }
    }